.mobile-app{
  width:320px;
  height:640px;
  margin:40px auto;
  background:#fff;
  border-radius:30px;
  padding:20px;
  box-shadow:0 30px 60px rgba(0,0,0,0.15);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

/* HEADER */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.avatar{
  width:40px;
  height:40px;
  background:#cbd5e1;
  border-radius:50%;
}

/* TEXTOS */
.title h2{
  margin:20px 0 5px;
}

.title p{
  color:#64748b;
}

/* BOTÕES GRANDES */
.main-btn{
  border-radius:20px;
  padding:22px;
  text-align:center;
  font-weight:800;
  color:#fff;
  margin:20px 0;
}

.main-btn.green{
  background:linear-gradient(180deg,#4ade80,#22c55e);
}

.main-btn.blue{
  background:linear-gradient(180deg,#38bdf8,#2563eb);
}

/* LESSONS */
.lessons{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.lesson{
  display:flex;
  gap:15px;
  align-items:center;
}

.lesson-number{
  width:50px;
  height:50px;
  background:#22c55e;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:12px;
  font-weight:bold;
}

.lesson-info span{
  display:block;
  width:120px;
  height:6px;
  background:#e2e8f0;
  margin-top:5px;
  border-radius:10px;
  position:relative;
}

.lesson-info span::after{
  content:"";
  position:absolute;
  width:60%;
  height:100%;
  background:#22c55e;
  border-radius:10px;
}

/* FOOTER */
.footer{
  display:flex;
  justify-content:space-around;
  padding-top:15px;
  border-top:1px solid #e2e8f0;
}